<div class="row logindiv">
  <div class="col-md-6 col-lg-offset-3">
    <h3 style="margin-bottom: 40px">SystemLogin</h3>
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <div class="form-group">
        <label for="exampleInputEmail1">LoginEmail</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" [(ngModel)]="user.username" name="username" required>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="user.password" name="password" required>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember Me
        </label>
      </div>
      <button type="submit" class="btn btn-default" [disabled]="!loginForm.form.valid"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Login</button>

      <div class="alert alert-danger" role="alert" [hidden] = "loginService.data['success']">
        <strong>Fail！</strong> {{loginService.data['message']}}
      </div>
    </form>
    <h5><a routerLink="/register" routerLinkActive="active">User Register</a> | <a routerLink="/forgot" routerLinkActive="active">Forget Password</a></h5>
  </div>

</div>

